{% breadcrumb separator="&raquo;" class_active="active" %}


{% comment %}{% unless request.home_page? %}
  <ul class='breadcrumb'>

    {% else %}
      {% if request.collection.category? %}
        <li>
          <a href="{{ request.collection.url }}">
            {{ request.collection.name }}
          </a>
        </li>
          {% if request.collection.category.item_detail? %}

            {% unless request.collection.announcements? or request.collection.galleries? %}
            <li>
              <a href="{{ request.collection.category.url }}">
                {{ request.collection.category.name }}
              </a>
            </li>
            {% endunless %}

            <li>
              {{ request.collection.category.item_detail }}
            </li>
          {% else %}
            <li>
              {{ request.collection.category.name }}
            </li>
          {% endif %}
      {% else %}
        <li>
          {{ request.collection.name }}
        </li>
      {% endif %}
  </ul>
{% endunless %}{% endcomment %}