<div class="nav">
  <div class="side-nav">
    {% if listing.logo != blank %}
      {{ listing.logo | attachment_url: 'medium' | image_tag | link_to_home }}
    {% endif %}

    <ul>
      <li>{{ 'home'       | link_to_home }}</li>
      <li>{{ 'map'        | link_to_map }}</li>
      <li>{{ 'about us'   | link_to_about_us }}</li>
      <li>{{ 'brochures'  | link_to_brochures }}</li>
      <li>
        {{ 'photos'     | link_to_galleries }}
        <ul class="sub-nav">
          {% for gallery in listing.galleries %}
            <li>
              <a href="{{ gallery.url }}">{{ gallery.name }} ({{ gallery.images.count }})</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'products'   | link_to_products }}
        <ul class="sub-nav">
          {% for product_category in listing.product_categories %}
            <li>
              <a href="{{ product_category.url }}">{{ product_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'services'   | link_to_services }}
        <ul class="sub-nav">
          {% for service_category in listing.service_categories %}
            <li>
              <a href="{{ service_category.url }}">{{ service_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'menu'       | link_to_menu }}
        <ul class="sub-nav">
          {% for food_category in listing.food_categories %}
            <li>
              <a href="{{ food_category.url }}">{{ food_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'people' | link_to_people }}
      </li>
      <li>
        {{ 'reservation' | link_to_reservation }}
      </li>
      <li>
        {{ 'feedback' | link_to_feedback }}
      </li>
      <li>
        {{ 'contact us' | link_to_contact_us }}
      </li>
      <li>
        {{ 'announcements' | link_to_announcements }}
      </li>
    </ul>

    <div class="office">
      {% if current_account %}
        <a href="{{ listing.instant_website.office_url }}">My office</a>
      {% else %}
        {{ 'sign in' | link_to_sign_in }}
      {% endif %}
    </div>
  </div>
</div>