<div class="catalog">
  <a href="{{ product.url }}">
    <h2 class="catalog-title">{{ product.name }}</h2>
  </a>
  <div class="catalog-body">
    <div class="catalog-image">
      {% if product.photos.first != blank %}
        <a href="#" class="cboxElement">
          {{ product.cover_photo | attachment_url: 'large' | image_tag }}
        </a>
      {% endif %}
    </div>
    <ol class="catalog-thumbnails">
      {% for photo in product.photos %}
        <li class="catalog-thumbnails-image" data-photo-url="#">
          <a class="active" href="" rel="" title="" >
            {{ photo | attachment_url: 'thumbnail' | image_tag }}
          </a>
        </li>
      {% endfor %}
    </ol>
    <div class="catalog-info">
      <ul class="catalog-info-specifications list-dotted">
        {% if product.price != blank %}
          <li class="clearfix product-list">
            <span class="ellipsis">{{ 'global.price' | translate }}</span>
            <span class="ellipsis">{{ product.price }}</span>
          </li>
        {% endif %}
        
        {% for feature in product.features %}
          <li class="clearfix product-list">
            <span class="ellipsis">{{ feature.name }}</span><span class="ellipsis">{{ feature.value }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>