<h1 class="page-title">{{ product.name }}</h1>

<div class="catalog-detail">
  <div class="catalog-detail-description">
    <p>{{ product.description }}</p>
  </div>
  <ul class="catalog-detail-specifications list-dotted">
    {% for feature in product.features %}
      <li>
        <span class="body-bg-color">{{ feature.name }}</span>
        <span class="body-bg-color">{{ feature.value }}</span>
      </li>
    {% endfor %}
  </ul>
  {% for photo in product.photos %}
    {{ photo | attachment_url: 'large' | image_tag }}
  {% endfor %}
</div>