<div class="shadow-effect" itemscope="" itemtype="http://schema.org/LocalBusiness">
  <div class="vcard">
    <div class="listing">
      <h1 class="listing-name" itemprop="name">
        {{ listing.name }}
      </h1>
      <em class="listing-description" itemprop="description">
        {{ 'Local Business in ' | append: listing.location.name }}
        {% if listing.country %}
          {{ ' - ' | append: listing.country.name }}
        {% endif %}
      </em>
      <div class="listing-categories" itemscope="">
        <ul>
          {% for listing_category in listing.listing_categories %}
            <li>{{ listing_category.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="listing-communications">
        <div class="listing-address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
          <address itemprop="streetAddress">{{ listing.address }}</address>
          {% assign today = listing.business_hours.today | first %}
          <i class="fa fa-clock-o"></i>
          {% if today.open? %}
            Open
            Today

            {% for business_hour in listing.business_hours.today %}
              {{ business_hour | open_closed: '%I:%M %p-%I:%M %p' }}<br/>
            {% endfor %}
          {% else %}
            Closed
          {% endif %}

          <div class="listing-contact" itemscope="" itemtype="http://schema.org/ContactPoint">
            <ul class="listing-contact-list list-dotted">
              {% if listing.telephone %}
                <li>
                  <span>{{ listing.telephone.type }}</span>
                  <span class="bold color333">{{ listing.telephone.value }}<span>
                </li>
              {% endif %}
              {% if listing.email %}
                <li>
                  <span>{{ listing.email.type }}</span>
                  <span class="bold color333">{{ listing.email.value | mail_to }}</span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>