<h1 class="page-title">{{ food.name }}</h1>

<div class="catalog-detail">
  <div class="catalog-detail-description">
    <p>{{ food.description }}</p>
  </div>
  <ul class="catalog-detail-specifications list-dotted">
    {% for property in food.properties %}
      <li>
        <span class="body-bg-color">{{ property.name }}</span>
        <span class="body-bg-color">{{ property.value }}</span>
      </li>
    {% endfor %}
  </ul>
  {% for photo in food.photos %}
    {{ photo | attachment_url: 'large' | image_tag }}
  {% endfor %}
</div>