      <div class="main-block">

        <!-- Revolution slider full width starts -->
        <div class="r-slider">
          <div class="bannercontainer">
            <div class="banner">

              <ul>

                <!-- Slide #1 starts -->
                <li data-transition="zoomin" data-slotamount="5" >
                  <img src="{{'brave/rev-slider/3.jpg' | asset_path }}"   alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                  <!-- Layer 1 -->
                  <div class="tp-caption b-small-bold-grey lft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="25" data-voffset="0"
                    data-speed="500"
                    data-start="200"
                    style="z-index: 2;">TONS OF FEATURES
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption b-big-bold black lft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="60" data-voffset="0"
                    data-speed="500"
                    data-start="700"
                    style="z-index: 2;">BEST THEME EVER MADE
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="10" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1000"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/girl1.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="200" data-hoffset="0"
                    data-y="170" data-voffset="0"
                    data-speed="1000"
                    data-start="1300"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/girl2.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 5 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="400" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1600"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/girl3.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 6 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="600" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1900"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/girl4.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 7 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="800" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="2200"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/girl5.png' | asset_path }}" alt="" />
                  </div>
                </li>
                <!-- Slide #1 ends -->

                <!-- Slide #2 starts -->

                <li data-transition="fadefromright">
                  <img src="{{'brave/rev-slider/transparent.png' | asset_path }}" class="bg-color" alt=""/>

                  <!-- Layer 1 -->
                  <div class="tp-caption b-big-bold white lfb fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="20" data-voffset="0"
                    data-speed="1000"
                    data-start="800"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="300"
                    style="z-index: 2;">SOME OF OUR DESIGNS
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="100" data-voffset="0"
                    data-speed="1000"
                    data-start="2300"
                    style="z-index: 2;"><img src="{{'brave/rev-slider/iphone1.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="-250"
                    data-y="140" data-voffset="0"
                    data-speed="1000"
                    data-start="2600"
                    style="z-index: 1;"><img src="{{'brave/rev-slider/iphone2.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="250"
                    data-y="140" data-voffset="0"
                    data-speed="1000"
                    data-start="2800"
                    style="z-index: 1;"><img src="{{'brave/rev-slider/iphone1.png' | asset_path }}" alt="" />
                  </div>

                </li>

                <!-- Slide #2 ends -->


                <!-- Slide #5 starts -->
                <li data-transition="boxslide" data-slotamount="5">

                  <img src="{{'brave/rev-slider/1.jpg' | asset_path }}" alt="" />

                  <!-- Layer 1 -->
                  <div class="tp-caption b-big-bold black skewfromrightshort"
                    data-x="20"
                    data-y="80"
                    data-speed="500"
                    data-start="800"
                    style="z-index: 4">One Theme
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption b-medium-thin-grey skewfromleftshort"
                    data-x="310"
                    data-y="95"
                    data-speed="500"
                    data-start="900"
                    style="z-index: 5">You
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption b-medium-thin-grey skewfromrightshort"
                    data-x="20"
                    data-y="148"
                    data-speed="300"
                    data-start="1000"
                    style="z-index: 6">Fall In
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption b-big-bold black skewfromleftshort"
                    data-x="115"
                    data-y="132"
                    data-speed="300"
                    data-start="1100"
                    style="z-index: 7">Love With
                  </div>

                  <!-- Layer 5 -->
                  <div class="tp-caption b-small-para black skewfromleftshort"
                    data-x="20"
                    data-y="200"
                    data-speed="500"
                    data-start="1300"
                    style="z-index: 8">Lorem Ipsum is simply dummy text of the printing <br /> industry. Lorem Ipsum is simply dummy text of the <br /> printing industry. Lorem Ipsum printing industry.
                  </div>

                  <!-- Layer 6 -->
                  <div class="tp-caption lft"
                    data-x="420"
                    data-y="90"
                    data-speed="800"
                    data-start="1700"
                    style="z-index: 8"><img src="{{'brave/rev-slider/brave.png' | asset_path }}" alt="" />
                  </div>

                  <!-- Layer 7 -->
                  <div class="tp-caption b-medium-back bg-red lfr"
                    data-x="700" data-hoffset="0"
                    data-y="90"
                    data-speed="700"
                    data-start="2000"
                    style="z-index: 7">TON'S OF FEATURES
                  </div>

                  <!-- Layer 8 -->
                  <div class="tp-caption b-medium-back bg-green lfr"
                    data-x="700" data-hoffset="0"
                    data-y="150"
                    data-speed="700"
                    data-start="2300"
                    style="z-index: 7">150+ HTML FILES
                  </div>

                  <!-- Layer 9 -->
                  <div class="tp-caption b-medium-back bg-lblue lfr"
                    data-x="700" data-hoffset="0"
                    data-y="210"
                    data-speed="700"
                    data-start="2600"
                    style="z-index: 7">ALL IN ONE THEME
                  </div>

                  <!-- Layer 10 -->
                  <div class="tp-caption b-medium-back bg-yellow lfr"
                    data-x="700" data-hoffset="0"
                    data-y="270"
                    data-speed="700"
                    data-start="2900"
                    style="z-index: 7">UNBELIVABLE PRICE
                  </div>

                </li>
                <!-- Slide #5 ends -->

              </ul>

            </div>
          </div>
        </div>
        <!-- Revolution slider full width ends -->

        <div class="container">

          <br />
          <div class="text-center">
            <h3><span class="color">Brave</span>. Most Amazing Theme Ever Made. <span class="color">Literally</span>.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut euismod sapien. Donec eu feugiat enim, sed tempus arcu. <br /> Pellentesque magna nisi, consectetur eget psum primis eros, et neque sit amet, lobortis elit. </p>
          </div>
          <div class="divider-1"></div>
        </div>

        <br />

        <div class="container">

          <!-- Block heading two -->
          <div class="block-heading-two">
            <h3><span>Recent Products</span></h3>
          </div>

          <!-- Shopping items content -->
          <div class="shopping-content ecommerce">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/2.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/3.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Byances Kcepte</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                  <!-- Hot tag -->
                  <span class="hot-tag bg-red">NEW</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/4.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Cepturi Sintocc</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/5.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Excepteur Sint</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                  <!-- Hot tag -->
                  <span class="hot-tag bg-lblue">HOT</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/6.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Occam Cupid</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                  <!-- Hot tag -->
                  <span class="hot-tag bg-red">NEW</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/7.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Fugiat Nulla</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/8.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Eos Qui Ratione</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/9.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Natus Erwor Site</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                  <!-- Hot tag -->
                  <span class="hot-tag bg-green">HOT</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/10.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/11.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/12.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Shopping items -->
                <div class="shopping-item">
                  <!-- Image -->
                  <a href="ecom-item-single.html"><img class="img-responsive" src="{{'brave/ecommerce/items/13.png' | asset_path }}" alt="" /></a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="ecom-item-single.html">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                    <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                    <a href="#">Add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
        </div>
      </div>

      <div class="container">
        <div class="block-heading-two">
            <h3><span>Recent Works</span></h3>
          </div>

          <div class="img-box-4 text-center">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #4 Item -->
                <div class="img-box-4-item">
                  <!-- Image -->
                  <a href="img/gallery/small/1.jpg" class="lightbox"><img src="{{'brave/gallery/small/1.jpg' | asset_path }}" alt="" class="img-responsive" /></a>
                  <!-- Image Box #4 Content -->
                  <div class="img-box-4-content">
                    <!-- Icon -->
                    <a href="#"><i class="fa fa-picture-o bg-red"></i></a>
                    <!-- Heading -->
                    <h4><a href="#">Blinded Desire</a></h4>
                    <!-- Border -->
                    <div class="bor bg-red"></div>
                    <!-- Paragraph -->
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/2.jpg" class="lightbox"><img src="{{'brave/gallery/small/2.jpg' | asset_path }}" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-video-camera bg-lblue"></i></a>
                    <h4><a href="#">Itaque Earum</a></h4>
                    <div class="bor bg-lblue"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/3.jpg" class="lightbox"><img src="{{'brave/gallery/small/3.jpg' | asset_path }}" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-music bg-green"></i></a>
                    <h4><a href="#">Rerum Tenetur</a></h4>
                    <div class="bor bg-green"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div><div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/4.jpg" class="lightbox"><img src="{{'brave/gallery/small/4.jpg' | asset_path }}" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-picture-o bg-purple"></i></a>
                    <h4><a href="#">Maiores Alias</a></h4>
                    <div class="bor bg-purple"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>