<div class="main-block">

  <!-- Revolution slider full width starts -->
  <div class="r-slider">
    <div class="bannercontainer">
      <div class="banner">

        <ul>
          {% for cover_photo in listing.instant_website.cover_photos %}
            <li data-transition="zoomin" data-slotamount="5" >
              {{ cover_photo | attachment_url: 'large' | image_tag }}
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
  <!-- Revolution slider full width ends -->

  <div class="container">

    <br />
    <div class="text-center">
      <h3>{{ listing.catalog_items[0].title }}</h3>
      <p>{{  listing.catalog_items[0].html_text }}</p>

    </div>
    <div class="divider-1"></div>
  </div>

  <br />

  <div class="container">

    <!-- Block heading two -->
    <div class="block-heading-two">
      <h3><span>Recent Products</span></h3>
    </div>

    <!-- Shopping items content -->
    <div class="shopping-content ecommerce">
      <div class="row">
        {% for product in listing.products limit: 12 %}
          <div class="col-md-3 col-sm-6">
            <!-- Shopping items -->
            <div class="shopping-item">
              <!-- Image -->
              <a href="ecom-item-single.html"><img class="img-responsive" src="{{ product.cover_photo | attachment_url: 'large' }}" alt="" /></a>
              <!-- Shopping item name / Heading -->
              <h4><a href="ecom-item-single.html">{{ product.name }}</a><span class="color pull-right">$49</span></h4>
              <div class="clearfix"></div>
              <!-- Buy now button -->
              <div class="visible-xs">
                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
              </div>
              <!-- Shopping item hover block & link -->
              <div class="item-hover bg-color hidden-xs">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <br />
    <br />
  </div>
</div>

<div class="container">
  <div class="block-heading-two">
      <h3><span>Recent Images</span></h3>
    </div>

    <div class="img-box-4 text-center">
      <div class="row">
        {% for image in listing.images limit: 4 %}
          <div class="col-md-3 col-sm-6">
            <!-- Image Box #4 Item -->
            <div class="img-box-4-item">
              <!-- Image -->
              {{ image | attachment_url: 'medium' | image_tag: class: 'img-responsive' | link_to: "#", class: "lightbox" }}
              <!-- Image Box #4 Content -->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>