<div class="col-md-3 col-sm-6">
  <div class="team-member">
    {{ person.photo | attachment_url: "small" | image_tag }}

    <h4>{{ person.full_name }}</h4>
    <span class="deg">{{ person.position_title }}</span>
    <div class="team-links">

      {% for com in person.communications %}
        <span>{{com.type}}: {{com.value}}</span> <br>
      {% endfor %}

    </div>
  </div>
</div>