<div class="main-block">
        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>People</h2>
            <div class="breads">
              Home / <a href="#">People</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <div class="container">

          <div class="about-us-one">

            <div class="team-six">
              <div class="row">
                {% for person in listing.people %}
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    {{ person.photo | attachment_url: "small" | image_tag }}

                    <!-- Name -->
                    <h4>{{ person.full_name }}</h4>
                    <span class="deg">{{ person.position_title }}</span>
                    <!-- Team Links -->
                    <div class="team-links">

                      {% for com in person.communications %}
                        <span>{{com.type}}: {{com.value}}</span> <br>
                      {% endfor %}

                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Our team ends -->

            <br />

          </div>

        </div>
      </div>