<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ listing.name }}</title>
    {{ request.theme_style_url | stylesheet_link_tag }}
    {{ content_for_header }}
  </head>

  <body data-class-name="{{ request.js_class_name }}">
    <div class="outer">
      {% include 'shared/top_bar' %}
      {% include 'shared/header' %}
      {{ content_for_layout }}
      {% include 'shared/footer' %}
    </div>
    <span class="totop">
      <a href="#"><i class="fa fa-angle-up bg-color"></i></a>
    </span>
    {{ 'brave/all' | javascript_include_tag }}

    {% yield 'map' %}
    {% yield 'filterjs' %}
    {% yield 'slider' %}
  </body>
</html>