<!DOCTYPE html>
<html>
<head>
  <title>{{ listing.name }}</title>
  {{ 'all.js' | asset_path | script_tag }}
  {{ 'all.css' | asset_path | stylesheet_tag }}
</head>
<body>
  <div class="nav">

    {{ listing.logo.image.attachment_meta.medium.url | asset_path | image_tag }}

    <ul>
      <li>{{ 'contact us' | link_to_home }}</li>
      <li>{{ 'map' | link_to_map }}</li>
      <li>{{ 'about us' | link_to_about_us }}</li>
      <li>{{ 'brochures' | link_to_services }}</li>
      <li>{{ 'photos' | link_to_galleries }}</li>
      <li>{{ 'products' | link_to_products }}</li>
      <li>{{ 'services' | link_to_services }}</li>
      <li>{{ 'menu' | link_to_foods }}</li>
      <li>{{ 'announcements' | link_to_announcements }}</li>
      <li>{{ 'people' | link_to_people }}</li>
      <li>{{ 'contact us' | link_to_contact_us }}</li>
    </ul>
  </div>
  <div class="container">
    {{ content_for_layout }}
  </div>
</body>
</html>