<h1 class="page-title">map</h1>

{% contentfor map %}
  {{ 'http://maps.google.com/maps/api/js?sensor=true' | javascript_include_tag }}
{% endcontentfor%}

<div id="map-canvas" data-lat="{{ listing.lat }}" data-long="{{ listing.long }}"></div>
<script id="tmpl-infowindow" type="text/x-jsrender">
  <div class='infowindowt' itemscope='' itemtype='http://schema.org/ContactPoint'>
  <h2 class='infowindow-listing-name'>{{ listing.name }}</h2>
  <address class='infowindow-address'>{{ listing.address }}</address>
  <ul class='infowindow-communication-list list-dotted'>
    <li class='infowindow-communication-list-item'>
      <span itemprop='contactType'>{{ listing.telephone.type }}</span>
      <span itemprop='telephone'>{{ listing.telephone.value }}</span>
    </li>
  </ul>
  </div>
</script>