<h1 class="page-title">{{ 'sample.links.contact_us' | translate }}</h1>

<section class="reservation-form">
  <h3>Communications</h3>
  <div class="contact-info">
    <ul class="contact-list">
      {% for comm in listing.communications %}
        {{ comm.li }}
      {% endfor %}
      {% for extra_comm in listing.extra_communications %}
        {{ extra_comm.li }}
      {% endfor %}
    </ul>
  </div>
  <h3>Form</h3>
  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <div class="successForm contact">
        <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
      </div>
    {% endif %}

    {% if form.errors != blank %}
      <div class="errorForm contact">
        <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'errors' }}. Please correct the following and submit again:</p>
        <ul>
          {% for field in form.errors %}
            <li>
              <span>{{ field }}</span>
              <span>{{ form.errors.messages[field] }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="form-group">
      <input type="textbox" name="contact[name]" value="{{ form.name }}" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="textbox" name="contact[phone]" value="{{ form.phone }}" placeholder="Phone">
    </div>
    <div class="form-group">
      <input type="textbox" name="contact[sender]" value="{{ form.sender }}" placeholder="* Email">
      {{ form.errors.messages['sender'] }}
    </div>
    <div class="form-group">
      <textarea name="contact[body]" rows="5" cols="61">{{ form.body }}</textarea>
      {{ form.errors.messages['body'] }}
    </div>
    <div class="form-group">
      <input type="submit" name="submit" value="Send">
    </div>
  {% endform %}
</section>
<section class="business-hour">
  <h3>Business Hour</h3>
  <table class="tab-opening-hour" rules="rows">
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      {% for business_hour in listing.business_hours %}
        <td>
          {% if business_hour.closed? %}
            Closed
          {% elsif business_hour.full_day? %}
            24h
          {% else %}
            {{ business_hour.open  | date: "%I:%M %p" }} <br>-<br>
            {{ business_hour.close | date: "%I:%M %p" }}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  </table>
</section>