<div class="main-block">

        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>Black-Berry Z10 <span>Something goes here</span></h2>
            <div class="breads">
              Home / <a href="#">Page</a> / <a href="#">Sub Page</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <div class="container">

          <!-- Actual content -->
          <div class="ecommerce">
            <div class="row">
              <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
                <!-- Shopping items content -->
                <div class="shopping-content">

                  <div class="shopping-single">
                    <div class="row">
                      <div class="col-md-4 col-sm-6">

                        <!-- Carousel -->

                        <!-- Bootstrap carousel usage
                          Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

                          Carousel comes with 3 main data attributes which you can customize. They are...
                          data-interval - Time delay between item cycle. Default value "5000".
                          data-pause - Pause on hover. Default value "pause".
                          data-wrap - Continues cycle or stop at the end. Default value "true".
                        -->

                        <!-- Outer layer -->
                        <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover" data-wrap="true">
                          <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
                          <ol class="carousel-indicators">
                            <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#bs-carousel-1" data-slide-to="1"></li>
                            <li data-target="#bs-carousel-1" data-slide-to="2"></li>
                            <li data-target="#bs-carousel-1" data-slide-to="3"></li>
                            <li data-target="#bs-carousel-1" data-slide-to="4"></li>
                          </ol>
                          <!-- Slides. You can also add captions -->
                          <div class="carousel-inner">
                            <!-- Item, First item should have extra class "active" -->
                            <div class="item active">
                              <!-- Image -->
                              <img src="{{'brave/ecommerce/items/1.png' | asset_path }}" alt=""/>
                            </div>
                            <div class="item">
                              <img src="{{'brave/ecommerce/items/1-1.png' | asset_path }}" alt=""/>
                            </div>
                            <div class="item">
                              <img src="{{'brave/ecommerce/items/1-2.png' | asset_path }}" alt=""/>
                            </div>
                            <div class="item">
                              <img src="{{'brave/ecommerce/items/1-3.png' | asset_path }}" alt=""/>
                            </div>
                            <div class="item">
                              <img src="{{'brave/ecommerce/items/1-4.png' | asset_path }}" alt=""/>
                            </div>
                          </div>
                          <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
                          <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left"></span>
                          </a>
                          <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
                            <span class="fa fa-chevron-right"></span>
                          </a>
                        </div>

                      </div>
                      <div class="col-md-8 col-sm-6">
                        <h4>Samsung Galaxy S4</h4>
                        <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. </p>
                        <!-- Product Details -->
                        <div class="table-responsive">
                          <table class="table table-bordered sitem-table">
                            <tr>
                              <th>Name :</th>
                              <td>Black Berry Z10</td>
                            </tr>
                            <tr>
                              <th>Price :</th>
                              <td>$999</td>
                            </tr>
                            <tr>
                              <th>Shipping :</th>
                              <td>Free</td>
                            </tr>
                            <tr>
                              <th>Brand :</th>
                              <td>Black Berry</td>
                            </tr>
                            <tr>
                              <th>Availability :</th>
                              <td><i class="fa fa-check green"></i> &nbsp;In Stock</td>
                            </tr>
                          </table>
                        </div>
                        <form class="form">
                          <div class="form-group">
                            <!-- Dropdown menu -->
                            <select class="form-control">
                              <option>Color</option>
                              <option>Grey</option>
                              <option>Black</option>
                              <option>White</option>
                              <option>Silver</option>
                            </select>
                          </div>
                          <!-- Quantity and add to cart button -->
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="2">
                            <span class="input-group-btn">
                              <button class="btn btn-color go" type="button">Add to cart</button>
                            </span>
                          </div><!-- /input-group -->
                        </form>
                        <br />
                        <!-- Add to wish list -->
                        <a href="ecom-wish-list.html">+ Add to Wish List</a>
                      </div>
                    </div>
                    <br />
                    <!-- Description, specs and review -->
                    <div class="product-desc">

                      <div class="nav-tabs-one">
                        <ul id="myTab" class="nav nav-tabs">
                          <!-- Use uniqe name for "href" in below anchor tags -->
                          <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                          <li><a href="#tab2" data-toggle="tab">Specs</a></li>
                          <li><a href="#tab3" data-toggle="tab">Review (5)</a></li>
                        </ul>

                        <!-- Tab Content -->
                        <div id="myTabContent" class="tab-content">
                          <!-- Description -->
                          <div class="tab-pane fade in active" id="tab1">
                            <h5>Black Berry Z10 <span class="color">:-</span></h5>
                            <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper, <em>arcu mauris posuere tortor</em>, in commodo enim magna id massa. Suspendisse potenti. Aliquam erat volutpat. Maecenas quis tristique turpis. Nulla facilisi. Duis sed velit at <a href="#">magna sollicitudin cursus</a> ac ultrices magna. Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <h5>Features <span class="color">:-</span></h5>
                            <ul class="list-2">
                              <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
                              <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
                              <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
                              <li>Maecenas hendrerit neque id ante dictum mattis</li>
                              <li>Vivamus non neque lacus, et cursus tortor</li>
                            </ul>
                          </div>
                          <!-- Sepcs -->
                          <div class="tab-pane fade" id="tab2">
                            <h5>Product Specs <span class="color">:-</span></h5>
                            <table class="table table-bordered table-hover">
                              <tbody>
                                <tr>
                                  <td><strong>Name</strong></td>
                                  <td>Black Berry Z10</td>
                                </tr>
                                <tr>
                                  <td><strong>Brand</strong></td>
                                  <td>Black Berry</td>
                                </tr>
                                <tr>
                                  <td><strong>Modal</strong></td>
                                  <td>Z10</td>
                                </tr>
                                <tr>
                                  <td><strong>Memory</strong></td>
                                  <td>2GB RAM</td>
                                </tr>
                                <tr>
                                  <td><strong>Storage</strong></td>
                                  <td>16GB, 32GB, 64GB</td>
                                </tr>
                                <tr>
                                  <td><strong>Camera</strong></td>
                                  <td>Front VGA, Read 8MP</td>
                                </tr>
                                <tr>
                                  <td><strong>Processor</strong></td>
                                  <td>BB 1.25GHz Processor</td>
                                </tr>
                                <tr>
                                  <td><strong>Battery</strong></td>
                                  <td>30 Hours Standby</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- Review -->
                          <div class="tab-pane fade" id="tab3">
                            <h5>Product Reviews <span class="color">:-</span></h5>
                            <div class="item-review">
                              <h6>Ravi Kumar - 4/5</h6>
                              <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                            </div>
                            <br />
                            <h5>Write a Review <span class="color">:-</span></h5>
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <label for="inputName" class="col-md-1 control-label">Name</label>
                                <div class="col-md-5">
                                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputEmail1" class="col-md-1 control-label">Email</label>
                                <div class="col-md-5">
                                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputCountry" class="col-md-1 control-label">Rating</label>
                                <div class="col-md-5">
                                  <select class="form-control" id="inputCountry">
                                    <option selected>5</option>
                                    <option>4</option>
                                    <option>3</option>
                                    <option>2</option>
                                    <option>1</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputAddress" class="col-md-1 control-label">Review</label>
                                <div class="col-md-5">
                                  <textarea class="form-control" id="inputAddress" rows="3" placeholder="Review"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-offset-1 col-md-5">
                                  <button type="submit" class="btn btn-color">Send</button>&nbsp;
                                  <button type="reset" class="btn btn-white">Reset</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
                <!-- Shopping Sidebar -->
                <div class="sidebar">
                  <!-- Heading -->
                  <h2>Navigation</h2>
                  <!-- Sidebar Menu -->
                  <ul class="navi">
                    <li class="has_submenu">
                      <a href="#">Smart Phone
                        <!-- Icon for dropdown -->
                        <span class="pull-right arrow fa fa-angle-down"></span>
                      </a>
                      <ul>
                        <li><a href="ecom-items.html">Apple</a></li>
                        <li><a href="ecom-items.html">Samsung</a></li>
                        <li><a href="ecom-items.html">Motorola</a></li>
                        <li><a href="ecom-items.html">Nokia</a></li>
                      </ul>
                    </li>
                    <li class="has_submenu">
                      <a href="#">Laptop
                        <!-- Icon for dropdown -->
                        <span class="pull-right arrow fa fa-angle-down"></span>
                      </a>
                      <ul>
                        <li><a href="ecom-items.html">Lenovo</a></li>
                        <li><a href="ecom-items.html">Samsung</a></li>
                        <li><a href="ecom-items.html">Dell</a></li>
                        <li><a href="ecom-items.html">HCL</a></li>
                        <li><a href="ecom-items.html">Apple</a></li>
                      </ul>
                    </li>
                    <li class="has_submenu">
                      <a href="#">Desktop
                        <!-- Icon for dropdown -->
                        <span class="pull-right arrow fa fa-angle-down"></span>
                      </a>
                      <ul>
                        <li><a href="ecom-items.html">Lenovo</a></li>
                        <li><a href="ecom-items.html">Samsung</a></li>
                        <li><a href="ecom-items.html">Dell</a></li>
                        <li><a href="ecom-items.html">HCL</a></li>
                        <li><a href="ecom-items.html">Apple</a></li>
                      </ul>
                    </li>
                    <li class="has_submenu">
                      <a href="#">Tablet
                        <!-- Icon for dropdown -->
                        <span class="pull-right arrow fa fa-angle-down"></span>
                      </a>
                      <ul>
                        <li><a href="ecom-items.html">Lenovo</a></li>
                        <li><a href="ecom-items.html">Samsung</a></li>
                        <li><a href="ecom-items.html">Dell</a></li>
                        <li><a href="ecom-items.html">HCL</a></li>
                        <li><a href="ecom-items.html">Apple</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Batteries</a></li>
                  </ul>

                  <!-- Sidebar Widget -->
                  <div class="s-widget">
                    <h3><i class="fa fa-fire color"></i> Hot Selling</h3>
                    <!-- Widget Content -->
                    <div class="sw-content">
                      <!-- Image -->
                      <a href="#"><img class="img-responsive" src="{{'brave/ecommerce/items/4.png' | asset_path }}" alt="" /></a>
                      <!-- Heading -->
                      <a href="#"><h4>HTC Hi-Tech</h4></a>
                      <!-- Stars -->
                      <span class="star">
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                      </span>
                      <!-- Price -->
                      <span class="sw-price">$49</span>
                      <div class="clearfix"></div>
                    </div>

                    <!-- Widget Content -->
                    <div class="sw-content">
                      <!-- Image -->
                      <a href="#"><img class="img-responsive" src="{{'brave/ecommerce/items/5.png' | asset_path }}" alt="" /></a>
                      <!-- Heading -->
                      <a href="#"><h4>Motorola GSD</h4></a>
                      <!-- Stars -->
                      <span class="star">
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star-half-o yellow"></i>
                      </span>
                      <!-- Price -->
                      <span class="sw-price">$99</span>
                      <div class="clearfix"></div>
                    </div>

                    <!-- Widget Content -->
                    <div class="sw-content">
                      <!-- Image -->
                      <a href="#"><img class="img-responsive" src="{{'brave/ecommerce/items/6.png' | asset_path }}" alt="" /></a>
                      <!-- Heading -->
                      <a href="#"><h4>Samsung G60</h4></a>
                      <!-- Stars -->
                      <span class="star">
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                      </span>
                      <!-- Price -->
                      <span class="sw-price">$120</span>
                      <div class="clearfix"></div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <br />

            <!-- Recent items Starts -->

            <div class="recent-items">

              <!-- Block heading two -->
              <div class="block-heading-two">
                <h3><span>Recent Items</span></h3>
              </div>

              <!-- Owl carousel block starts -->
                <!-- Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs -->
                <div class="owl-carousel" data-items="5" data-auto-play="true" data-pagination="true" data-single-item="false">
                  <!-- Carousel item -->
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/1.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Motorola G <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/2.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Google Nexus 7 <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/3.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Samsung Galaxy <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/4.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Lenovo Phonepad <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/5.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Asus Ideapad <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/6.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Micromax Canvas <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/7.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Sony Xperia Pro <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/8.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Apple iPhone 5S <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/9.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Galaxy Tab 2 <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/10.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Karboon Tab <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <!-- Owl carousel block ends -->

            </div>

            <!-- Recent items Ends -->

          </div>

        </div>
      </div>