<footer class="foot">
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">
        {% assign year = 'now' | date: '%Y' %}
        {{ 'brave.footer.copyright' | t: year: year }}
      </p>
      <ul class="list-inline pull-right">
        <!-- List -->
        <li>{{ 'brave.links.home'       | translate | link_to_home       }}</li>
        <li>{{ 'brave.links.products'   | translate | link_to_products   }}</li>
        <li>{{ 'brave.links.about_us'   | translate | link_to_about_us   }}</li>
        <li>{{ 'brave.links.people'     | translate | link_to_people     }}</li>
        <li>{{ 'brave.links.photos'     | translate | link_to_galleries  }}</li>
        <li>{{ 'brave.links.contact_us' | translate | link_to_contact_us }}</li>
      </ul>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>