<div class="header-2">

  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Logo section -->
        <div class="logo">
          <h1><a href="#"><i class="fa fa-laptop"></i> Brave</a></h1>
        </div>
      </div>
      <div class="col-md-10">

        <!-- Navigation starts.  -->
        <div class="navy">
          <ul>
            <!-- Main menu -->
            <li>{{ 'brave.links.home'       | translate | link_to_home       }}</li>
            <li>{{ 'brave.links.products'   | translate | link_to_products   }}</li>
            <li>{{ 'brave.links.about_us'   | translate | link_to_about_us   }}</li>
            <li>{{ 'brave.links.people'     | translate | link_to_people     }}</li>
            <li>{{ 'brave.links.photos'     | translate | link_to_galleries  }}</li>
            <li>{{ 'brave.links.contact_us' | translate | link_to_contact_us }}</li>
          </ul>
        </div>
        <!-- Navigation ends -->

      </div>

    </div>
  </div>
</div>