<div class="top-bar">
  <div class="container">

    <!-- Contact starts -->
    <div class="tb-contact pull-left">
      <!-- Email -->
      {% if listing.email %}
      <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:{{ listing.email.value }}">{{ listing.email.value }}</a>
      &nbsp;&nbsp;
      {% endif %}
      <!-- Phone -->
      {% if listing.telephone %}
      <i class="fa fa-phone color"></i> &nbsp; {{ listing.telephone.value }}
      {% endif %}
    </div>

    {% if listing.multilinguals != blank %}
    <div class="tb-language dropdown pull-right">
      <a href="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe"></i> {{ listing.language.name }} <i class="fa fa-angle-down color"></i></a>
      <ul class="dropdown-menu dropdown-mini" role="menu">
        {% for multilingual in listing.multilinguals %}
        <li><a href="{{ multilingual.instant_website.primary_domain.url }}">
          {{ multilingual.language.name }}
        </a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <!-- Language ends -->

    <div class="tb-social pull-right">
      <div class="brand-bg text-right">
        <!-- Brand Icons -->
        <a href="#" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
        <a href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
      </div>
    </div>
    <!-- Social media ends -->

    <div class="clearfix"></div>
  </div>
</div>