<h1 class="page-title">{{ 'sample.links.about_us' | translate }}</h1>

<article class="article-item">
  <h2>Business Photos</h2>
  {% for business_photo in listing.business_photos %}
    <div class="business-photo-wrapper">
      <div class="business-title">
        <h4>{{ business_photo.name }}</h4>
      </div>
      <div class="business-photo">
        {{ business_photo.embed_script }}
      </div>
    </div>
  {% endfor %}
</article>

<article class="article-item">
  <img src="{{ listing | google_static_map_url: size: '500x200' }}" alt="static image">
</article>

<article class="article-item">
  <div class="flexslider">
    <ul class="slides">
      {% if listing.instant_website.cover_photos != blank %}
        {% for cover_photo in listing.instant_website.cover_photos %}
          <li>
            {{ cover_photo | attachment_url: 'large' | image_tag }}
          </li>
        {% endfor %}
      {% elsif listing.instant_website.template.cover_photo %}
        <li>
          {{ listing.instant_website.template.cover_photo | attachment_url: 'original' | image_tag }}
        </li>
      {% elsif request.preview_mode? %}
        <li> {{ current_template.cover_photo | attachment_url: 'original' }} </li>
      {% endif %}
    </ul>
  </div>
</article>

{% for catalog_item in listing.catalog_items %}
  <article class="article-item">
    <h2 class="title-item">{{ catalog_item.title }}</h2>
    <p class="item-description">{{ catalog_item.html_text }}</p>
    {% if catalog_item.image != blank %}
      {{ catalog_item | attachment_url: 'large' | image_tag }}
    {% endif %}
  </article>
{% endfor %}