<h1 class="page-title">{{ 'sample.links.about_us' | translate }}</h1>

<article class="article-item">
  <h2>Business Photos</h2>
  {% for business_photo in listing.business_photos %}
    <div class="business-photo-wrapper">
      <div class="business-title">
        <h4>{{ business_photo.name }}</h4>
      </div>
      <div class="business-photo">
        {{ business_photo.embed_script }}
      </div>
    </div>
  {% endfor %}
</article>

<article class="article-item">
  <h2 class="title-item">Google Static Image Map</h2>
  <img src="{{ listing | google_static_map_url: size: '500x200' }}" alt="static image">
</article>

<article class="article-item">
  <h2 class="title-item">Short Descriptions</h2>
  {% for short_description in listing.short_descriptions %}
    <div class="short-desc">
      <p>{{ short_description.text }}</p>
      <ul>
        {% for category in short_description.categories %}
          <li>{{ category.name }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</article>

<article class="article-item">
  <h2 class="title-item">Cover Photos</h2>
  {% if listing.instant_website.cover_photos !=  blank %}
    <div class="flexslider">
      <ul class="slides">
        {% for cover_photo in listing.instant_website.cover_photos %}
          <li>
            {{ cover_photo | attachment_url: 'large' | image_tag }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% elsif listing.instant_website.template.cover_photo %}
    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ listing.instant_website.template.cover_photo | attachment_url: 'original' | image_tag }}
        </li>
      </ul>
    </div>
  {% elsif request.preview_mode? and current_template.cover_photo %}
    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ current_template.cover_photo | attachment_url: 'original' | image_tag }}
        </li>
      </ul>
    </div>
  {% endif %}
</article>

{% for catalog_item in listing.catalog_items %}
  <article class="article-item">
    <h2 class="title-item">{{ catalog_item.title }}</h2>
    <p class="item-description">{{ catalog_item.html_text }}</p>
    {% if catalog_item.image != blank %}
      {{ catalog_item | attachment_url: 'large' | image_tag }}
    {% endif %}
  </article>
{% endfor %}
<article class="article-item">
  <h2>Medias</h2>
  {% for media in listing.medias %}
    <div class="media">
      {{ media.embed_script }}
    </div>
  {% endfor %}
</article>