<h1 class="page-title">{{ 'sample.links.about_us' | translate }}</h1>

<article class="article-item">
  <img src="{{ listing | google_static_map_url: size: '500x200' }}" alt="static image">
</article>
{% if listing.instant_website.cover_photos != blank %}
  <article class="article-item">
    <div class="flexslider">
      <ul class="slides">
        {% for cover_photo in listing.instant_website.cover_photos %}
          <li>
            {% assign photo_url = cover_photo | attachment_url: 'large' %}

            {% if photo_url == blank %}
              {{ cover_photo | attachment_url: 'original' | image_tag }}
            {% else %}
              {{ cover_photo | attachment_url: 'large' | image_tag }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endif %}

{% for catalog_item in listing.catalog_items %}
  <article class="article-item">
    <h2 class="title-item">{{ catalog_item.title }}</h2>
    <p class="item-description">{{ catalog_item.html_text }}</p>
    {% if catalog_item.image != blank %}
      {{ catalog_item | attachment_url: 'large' | image_tag }}
    {% endif %}
  </article>
{% endfor %}