<!DOCTYPE html>
<html>
<head>
  {{ 'http://fonts.googleapis.com/css?family=Source+Sans+Pro' | stylesheet_link_tag }}
  {{ request.theme_style_url | stylesheet_link_tag }}
  {{ content_for_header }}
</head>
<body data-class-name="{{ request.js_class_name }}">
  {% draft_stamp %}
  {% include 'shared/nav' %}
  <div class="main-container main-container-style-{{request.theme_color}}">
    {% include 'shared/breadcrumb' %}
    {{ content_for_layout }}
  </div>

  {{ 'sample/all' | javascript_include_tag }}
  {% yield 'map' %}
  {% google_remarketing_tag %}
</body>
</html>
