<!DOCTYPE html>
<html>
<head>
  <title>{{ listing.name }}</title>
  {{ 'http://fonts.googleapis.com/css?family=Source+Sans+Pro' | stylesheet_link_tag }}

  {{ 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' | stylesheet_link_tag }}

  {{ 'sample/all' | stylesheet_link_tag }}
  {{ content_for_header }}

</head>
<body>
  {% draft_stamp %}
  {% include 'shared/nav' %}
  <div class="main-container">
    {{ content_for_layout }}
  </div>

  {{ 'sample/all' | javascript_include_tag }}
  {{ 'http://maps.google.com/maps/api/js?sensor=true' | javascript_include_tag }}
  {{ 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js' | javascript_include_tag }}

</body>
</html>