<div class="main-block">

        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>Galleries</h2>
            <div class="breads">
              Home / <a href="#">Galleries</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <div class="container">

          <!-- Portfolio Start -->
          <div class="portfolio pf-one">
            <!-- Portfolio Block Content -->
            <div class="portfolio-content">
              <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
              <div id="filters">
                <a href="#" data-filter="*" class="btn btn-color">All</a>
                <a href="#" data-filter=".design" class="btn btn-color">Web Design</a>
                <a href="#" data-filter=".php" class="btn btn-color">PHP</a>
                <a href="#" data-filter=".java" class="btn btn-color">JAVA</a>
                <a href="#" data-filter=".development" class="btn btn-color">Web Development</a>
              </div>
              <div id="portfolio">
                <!-- Portfolio Image and Text Container -->
                <div class="p-element design java">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/1.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/1.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element php java">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/2.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/2.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element design development">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/3.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/3.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element php development">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/4.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/4.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element design java">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/5.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/5.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element php java">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/6.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/6.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element design development">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/7.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/7.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Image and Text Container -->
                <div class="p-element php development">
                  <div class="element">
                    <div class="image-style-one">
                      <!-- Image -->
                      <img class="img-responsive" src="{{'brave/gallery/small/8.jpg' | asset_path }}" alt="" />
                      <!-- image hover style for image #1 -->
                      <div class="image-hover">
                        <!-- Image Caption -->
                        <div class="image-caption">
                          <!-- Heading -->
                          <h4>Some Heading</h4>
                          <!-- Paragraph -->
                          <p>Neque porro quisquam est quisquam qui dolorem.</p>
                          <a href="img/gallery/small/8.jpg" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                          <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- Portfolio End -->

        </div>
      </div>