<div class="main-block">
  <div class="page-heading-two">
    <div class="container">
      <h2>{{ 'brave.links.photos' | translate }}</h2>
      <div class="breads">
        {% breadcrumb %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio pf-one">
      <div class="portfolio-content">
        <div id="filters">
          <a href="#" data-filter="*" class="btn btn-color">All</a>
          {% for gallery in listing.galleries %}
            <a href="#" data-filter=".{{gallery.name | downcase | replace:' ','-' }}" class="btn btn-color">{{ gallery.name }}</a>
          {% endfor %}
        </div>
        <div id="portfolio">
          {% for image in listing.images %}
          <div class="p-element {{ image.gallery.name | downcase | replace:' ','-' }} java">
            <div class="element">
              <div class="image-style-one">
                <!-- Image -->
                <img class="img-responsive" src="{{image | attachment_url: 'medium' }}" alt="" />
                <!-- image hover style for image #1 -->
                <div class="image-hover">
                  <!-- Image Caption -->
                  <div class="image-caption">
                    <!-- Heading -->
                    <h4>{{ image.caption }}</h4>
                    <!-- Paragraph -->
                    <a href="{{image | attachment_url: 'large' }}" class="lightbox"><i class="fa fa-search"></i></a> &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% content_for 'filterjs' %}
  {% include 'shared/filterjs' %}
{% endcontent_for %}
