<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="text-center">
    <div class="contact-item">
      <i class="fa fa-phone bg-lblue circle-3"></i>
      <h5>{{ 'brave.contact_us.call_us' | translate }}</h5>
      <p>
      {% for tel in listing.telephones %}
        {{ tel.label }} : {{ tel.value }} <br />
      {% endfor %}
      </p>
    </div>
    <div class="contact-item">
      <i class="fa fa-envelope bg-green circle-3"></i>
      <h5>{{ 'brave.contact_us.mail_us' | translate }}</h5>
      <p>
        {% for email in listing.emails %}
          {{email.value}} <br />
        {% endfor %}
      </p>
      </p>
    </div>
  </div>
</div>

<div class="col-md-2 col-sm-6 col-xs-6">
  <div class="text-center">
    <div class="contact-item">
      <i class="fa fa-building-o bg-red circle-3"></i>
      <h5>{{ 'brave.contact_us.address' | translate }}</h5>
      <p>{{listing.address}}
      </p>
    </div>
    <div class="contact-item">
      <i class="fa fa-calendar bg-purple circle-3"></i>
      <h5>{{ 'brave.contact_us.opening_hours' | translate }}</h5>
      <p>
        {% assign today = listing.business_hours.today | first %}
        <i class="fa fa-clock-o"></i>
        {% if today.open? %}
          {{ 'brave.contact_us.open'  | translate }}
          {{ 'brave.contact_us.today' | translate }}

          {% for business_hour in listing.business_hours.today %}
            {{ business_hour | open_closed: '%I:%M %p-%I:%M %p' }}<br/>
          {% endfor %}
        {% else %}
          {{ 'brave.contact_us.closed' | translate }}
        {% endif %}
      </p>
    </div>
  </div>
</div>