<div class="contact-form">
  <h5>{{ 'brave.contact_us.contact_form' | translate }}</h5>

  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <div class="successForm contact">
        <p>{{ 'brave.contact_us.success_msg' | translate }}</p>
      </div>
    {% endif %}

    {% if form.errors != blank %}
      <div class="errorForm contact">
        {% assign errors_num = form.errors | size | pluralize: 'an error', 'errors' %}
        <p>{{ 'brave.contact_us.fail_msg' | t: errors_num: errors_num }}</p>
        <ul>
          {% for field in form.errors %}
            <li>
              <span>{{ field }}</span>
              <span>{{ form.errors.messages[field] }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="form-group">
      <input class="form-control" type="textbox" name="contact[name]" value="{{ form.name }}" placeholder="Name">
    </div>
    <div class="form-group">
      <input class="form-control" type="textbox" name="contact[phone]" value="{{ form.phone }}" placeholder="Phone">
    </div>
    <div class="form-group">
      <input class="form-control" type="textbox" name="contact[sender]" value="{{ form.sender }}" placeholder="* Email">
      {{ form.errors.messages['sender'] }}
    </div>
    <div class="form-group">
      <textarea class="form-control" name="contact[body]" rows="5" cols="61">{{ form.body }}</textarea>
      {{ form.errors.messages['body'] }}
    </div>
    <input type="submit" class="btn btn-red"> &nbsp;
    <input type="reset" class="btn btn-default">
  {% endform %}
</div>