<div class="main-block">

        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>Products</h2>
            <div class="breads">
              Home / <a href="#">Product</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <!-- Shopping Items -->
        <div class="container">

          <div class="ecommerce">
            <div class="row">
              <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
                <!-- Shopping items content -->
                <div class="shopping-content">
                  <!-- Block Title -->
                  <h4><i class="fa fa-laptop color"></i>&nbsp; Phones&nbsp;<small>Quine Poor Squamo</small></h4>
                  <hr />
                  <div class="row">
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->

                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/2.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/3.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Byances Kcepte</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                        <!-- Hot tag -->
                        <span class="hot-tag bg-red">NEW</span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/4.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Cepturi Sintocc</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/5.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Excepteur Sint</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                        <!-- Hot tag -->
                        <span class="hot-tag bg-lblue">HOT</span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/6.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Occam Cupid</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                        <!-- Hot tag -->
                        <span class="hot-tag bg-red">NEW</span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/7.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Fugiat Nulla</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/8.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Eos Qui Ratione</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/9.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Natus Erwor Site</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                        <!-- Hot tag -->
                        <span class="hot-tag bg-green">HOT</span>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/10.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/11.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/12.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <!-- Shopping items -->
                      <div class="shopping-item">
                        <!-- Image -->
                        <a href="/products/112-other-cars?locale=en&theme=brave"><img class="img-responsive" src="{{'brave/ecommerce/items/13.png' | asset_path }}" alt="" /></a>
                        <!-- Shopping item name / Heading -->
                        <h4><a href="/products/112-other-cars?locale=en&theme=brave">Quasi Architects</a><span class="color pull-right">$49</span></h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div class="visible-xs">
                          <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-color hidden-xs">
                          <a href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Pagination -->
                  <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                  <!-- Pagination end-->
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
                  <!-- Shopping Sidebar -->
                <div class="sidebar">
                  <!-- Heading -->
                  <h2>Category</h2>
                  <!-- Sidebar Menu -->
                  <ul class="list-unstyled my-list">
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Batteries</a></li>
                  </ul>
                  <!-- Heading -->
                  <h2>Brands</h2>
                  <!-- Sidebar Menu -->
                  <ul class="list-unstyled my-list">
                    <li><input type="checkbox" checked /> &nbsp;Nokia</li>
                    <li><input type="checkbox" checked /> &nbsp;Apple</li>
                    <li><input type="checkbox" /> &nbsp;Black Berry</li>
                    <li><input type="checkbox" /> &nbsp;Samsung</li>
                    <li><input type="checkbox" /> &nbsp;All</li>
                  </ul>
                  <!-- Heading -->
                  <h2>Features</h2>
                  <!-- Sidebar Menu -->
                  <ul class="list-unstyled my-list">
                    <li><input type="checkbox" checked /> &nbsp;Camera</li>
                    <li><input type="checkbox" checked /> &nbsp;Media Player</li>
                    <li><input type="checkbox" checked /> &nbsp;Internet</li>
                    <li><input type="checkbox" /> &nbsp;Dual Sim</li>
                    <li><input type="checkbox" /> &nbsp;Micro Sim</li>
                    <li><input type="checkbox" /> &nbsp;3G</li>
                  </ul>
                  <!-- Heading -->
                  <h2>Price</h2>
                  <!-- Sidebar Menu -->
                  <ul class="list-unstyled my-list">
                    <li><input type="checkbox" checked /> &nbsp;$10-$49</li>
                    <li><input type="checkbox" /> &nbsp;$50-$99</li>
                    <li><input type="checkbox" /> &nbsp;$100-$499</li>
                    <li><input type="checkbox" /> &nbsp;$500-$999</li>
                    <li><input type="checkbox" checked /> &nbsp;$1000 &le;</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Recent items Starts -->

            <div class="recent-items">

              <!-- Block heading two -->
              <div class="block-heading-two">
                <h3><span>Recent Items</span></h3>
              </div>

              <!-- Owl carousel block starts -->
                <!-- Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs -->
                <div class="owl-carousel" data-items="5" data-auto-play="true" data-pagination="true" data-single-item="false">
                  <!-- Carousel item -->
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/1.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Motorola G <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/2.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Google Nexus 7 <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/3.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Samsung Galaxy <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/4.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Lenovo Phonepad <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/5.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Asus Ideapad <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/6.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Micromax Canvas <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/7.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Sony Xperia Pro <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/8.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Apple iPhone 5S <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/9.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Galaxy Tab 2 <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="owl-content">
                    <div class="padd-15">
                      <a href="#"><img src="{{'brave/ecommerce/items/10.png' | asset_path }}" alt="" class="img-responsive" /></a>
                      <h4><a href="#"> Karboon Tab <span class="color pull-right">$25</span></a></h4>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <!-- Owl carousel block ends -->

            </div>

            <!-- Recent items Ends -->


          </div>
        </div>

      </div>