<h1 class="page-title">announcement</h1>
{% for announcement in listing.announcements %}
  <article class="announcement">
    {{ announcement.image.attachment_meta.large.url | image_tag }}
    <div class="announcement-description">
      <p>
        {{ announcement.text }}
        <strong class="readmore">
          <a href="{{ announcement.id | announcement_path }}">read more</a>
        </strong>
      </p>
    </div>
    <div class="annnouncement-timestamp">
      <p>
        <time class="timeago icon-time-default" datetime="{{ announcement.updated_at | date: '%Y-%m-%d' }}" title="{{ announcement.updated_at | date: '%B %d, %Y %k:%M' }}"></time>
      </p>
    </div>
  </article>
{% endfor %}