<div class="nav">
  <div class="side-nav">
    {{ listing.logo.image.attachment_meta.medium.url | image_tag }}

    <ul>
      <li>{{ 'contact us' | link_to_home }}</li>
      <li>{{ 'map'        | link_to_map }}</li>
      <li>{{ 'about us'   | link_to_about_us }}</li>
      <li>{{ 'brochures'  | link_to_brochures }}</li>
      <li>
        {{ 'photos'     | link_to_galleries }}
        <ul class="sub-nav">
          {% for album in listing.image_galleries %}
            <li>{{ album.name | link_to: "#" }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'products'   | link_to_products }}
        <ul class="sub-nav">
          {% for product_category in listing.product_categories %}
            <li>{{ product_category.name | link_to: "#" }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'services'   | link_to_services }}
        <ul class="sub-nav">
          {% for service_category in listing.service_categories %}
            <li>{{ service_category.name | link_to: "#" }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'menu'       | link_to_menu }}
        <ul class="sub-nav">
          {% for food_category in listing.food_categories %}
            <li>{{ food_category.name | link_to: "#" }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>{{ 'announcements' | link_to_announcements }}</li>
    </ul>

    <div class="office">
      <span class="office-img"></span>
      <p class="office-account">My office</p>
    </div>
  </div>
</div>