<div class="nav">
  <div class="side-nav">
    {{ listing.logo.image.attachment_meta.medium.url | image_tag | link_to_home}}

    <ul>
      <li>{{ 'contact us' | link_to_home }}</li>
      <li>{{ 'map'        | link_to_map }}</li>
      <li>{{ 'about us'   | link_to_about_us }}</li>
      <li>{{ 'brochures'  | link_to_brochures }}</li>
      <li>
        {{ 'photos'     | link_to_galleries }}
        <ul class="sub-nav">
          {% for album in listing.image_galleries %}
            <li>
              <a href="{{ album | gallery_url }}">{{ album.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'products'   | link_to_products }}
        <ul class="sub-nav">
          {% for product_category in listing.product_categories %}
            <li>
              <a href="{{ product_category | products_category_url }}">{{ product_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'services'   | link_to_services }}
        <ul class="sub-nav">
          {% for service_category in listing.service_categories %}
            <li>
              <a href="{{ service_category | services_category_url }}">{{ service_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        {{ 'menu'       | link_to_menu }}
        <ul class="sub-nav">
          {% for food_category in listing.food_categories %}
            <li>
              <a href="{{ food_category | menu_category_url }}">{{ food_category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>{{ 'announcements' | link_to_announcements }}</li>
    </ul>

    <div class="office">
      <a href="/office" class="office-account">
        <img src="{{'business_vcard/male-office.png' | asset_path }}" class="office-img"> my office
      </a>
    </div>
  </div>
</div>