<div class="catalog">
  <a href="{{ service.url }}">
    <h2 class="catalog-title">{{ service.name }}</h2>
  </a>
  <div class="catalog-body">
    <div class="catalog-image photoswipe-gallery">
      {% for photo in service.photos %}
        <a href="{{photo | attachment_url: 'large'}}" data-size="{{photo.width}}x{{photo.height}}">
          <img src="{{photo | attachment_url: 'large'}}">
        </a>
      {% endfor %}

    </div>
    <ol class="catalog-thumbnails">
      {% for photo in service.photos %}
        <li class="catalog-thumbnails-image" data-photo-url="{{ photo.url }}">
          <a class="active" href="" rel="" title="" >
            {{ photo | attachment_url: 'thumbnail' | image_tag }}
          </a>
        </li>
      {% endfor %}
    </ol>
    <div class="catalog-info">
      <ul class="catalog-info-specifications list-dotted">
        {% for feature in service.properties %}
          <li class="clearfix product-list">
            <span class="ellipsis">{{ feature.name }}</span><span class="ellipsis">{{ feature.value }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>