<h2 class="page-title">{{ service.name }}</h1>

<div class="catalog-detail">
  <div class="catalog-detail-description">
    <p>{{ service.description }}</p>
  </div>
  <ul class="catalog-detail-specifications list-dotted">
    {% for f in service.read_properties %}
      <li class="clearfix service-list">
        <span class="ellipsis body-bg-color">{{ f.name }}</span>
        <span class="ellipsis body-bg-color">{{ f.value }}</span>
      </li>
    {% endfor %}
  </ul>
  {% for photo in service.photos %}
    {{ photo | attachment_url: 'large' | image_tag }}
  {% endfor %}
</div>