<h2 class="page-title">{{ service.name }}</h1>

<div class="catalog-detail">
  <div class="catalog-detail-description">
    <p>{{ service.description }}</p>
  </div>
  <ul class="catalog-detail-specifications list-dotted">
    {% if service.price != blank %}
      <li class="clearfix service-list">
        <span class="ellipsis">{{ 'global.price' | translate }}</span>
        <span class="ellipsis">{{ service.price }}</span>
      </li>
    {% endif %}
        
    {% for property in service.properties %}
      <li class="clearfix service-list">
        <span class="ellipsis body-bg-color">{{ property.name }}</span>
        <span class="ellipsis body-bg-color">{{ property.value }}</span>
      </li>
    {% endfor %}
  </ul>
  {% for photo in service.photos %}
    {{ photo | attachment_url: 'large' | image_tag }}
  {% endfor %}
</div>