<h1 class="page-title">reservation</h1>
<div class="reservation">
  <section>
    {% form 'reservation' %}
      {% if form.posted_successfully? %}
        <div class="successForm reservation">
          <p>Thank you for submitting your reservation! We'll get back to you as soon as possible.</p>
        </div>
      {% endif %}

      {% if form.errors != blank %}
        <div class="errorForm reservation">
          <p>Oops, sorry. We were unable to submit your reservation because it contained {{ form.errors | size | pluralize: 'an error', 'errors' }}. Please correct the following and submit again:</p>
          <ul>
            {% for field in form.errors %}
              <li>
                <span>{{ field }}</span>
                <span>{{ form.errors.messages[field] }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="form-group">
        <input type="textbox" class="reservation-track datepicker" placeholder="Check In" name="reservation[check_in]">
        <input type="textbox" class="reservation-track datepicker" placeholder="Check Out" name="reservation[check_out]">
      </div>
      <div class="form-group">
        <select name="reservation[guests]">
          <option>Guests</option>
          <option>1</option>
        </select>
      </div>
      <div class="form-group">
        <select name="reservation[room_types]">
          <option>Room Types</option>
          <option>1</option>
        </select>
      </div>
      <div class="form-group">
        <input type="textbox" placeholder="Name" name="reservation[name]">
      </div>
      <div class="form-group">
        <input type="textbox" placeholder="Phone" name="reservation[phone]">
      </div>
      <div class="form-group">
        <input type="textbox" placeholder="*Email" name="reservation[sender]">
      </div>
      <div class="form-group">
        <input type="textbox" placeholder="*Message" name="reservation[body]">
      </div>
      <div class="form-group">
        <input type="submit" value="submit">
      </div>
    {% endform %}
  </section>

  <section class="addresses">
    <h3>{{ listing.name }}</h3>
    <dl class="list-horizontal">
      {% for alias in listing.alias_names %}
        <dt>{{ alias.type }}</dt>
          <dd>{{ alias.name }}</dd>
      {% endfor %}
    </dl>
    <p>{{ listing.address }}</p>
    <ul class="list-dotted">
      {% for communication in listing.communications %}
        <li>
          <span>{{ communication.type }}</span>
          <span>{{ communication.value }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>