<h1 class="page-title">{{ 'sample.links.photos' | translate }}</h1>
{% paginate listing.images by 4 %}
  <div id="galleries" class="Collage effect-parent photoswipe-gallery">
    {% for image in paginate.collection %}
      <a href="{{ image.url }}" class="image" data-size="{{ image.width }}x{{ image.height }}">
        {{ image | attachment_url: 'medium' | image_tag }}
      </a>
    {% endfor %}
  </div>
  <div>
    {{ paginate | default_pagination }}
  </div>
{% endpaginate %}