<h1 class="page-title">{{ gallery.name }}</h1>
<div id="galleries" class="Collage effect-parent photoswipe-gallery">
  {% for image in gallery.images %}
    <a href="{{ image.url }}" class="image" data-size="{{ image.width }}x{{ image.height }}">
      {{ image | attachment_url: 'medium' | image_tag }}
    </a>
  {% endfor %}
</div>